p{
    background-color: blue;
    color: chartreuse;
}
h1{
    background-color: deepskyblue;
    color: gold;
    width: 60%;
    border: 4px solid black;
    text-align: center;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    background-color: cyan;
    color: darkred;
    width: 50%;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;

}